body{
    margin: 0;
    font-family: Arial, Helvetica, 'Microsoft Yahei', sans-serif;
    color: #7e8793;
}

.home-header{
    background: url('../images/home-bg.png')no-repeat;
    background-size: 100% auto;
    text-align: center;
    padding-bottom: 1.5rem;
}

.home-header >img{
    width: 67%;
    margin: 2.3rem;
}

.home-header form{
    background: white;
    width:92%;
    margin: 0 auto;
    line-height: 2.2rem;
    border-radius: 2.2rem;
}

.home-header form input{
    width: 75%;
    border: none;
    background: none;
    color: #7e8793;
    font-size: 0.85rem;
    outline: none;
}

.home-header form button{
    font-size: 0.9rem;
    color: #5bd4c7;
    /* font-weight: lighter; */
    border: none;
    background: none;
}

.home-categories{
    padding: 0 1rem;
}

.home-categories dt{
    display: flex;
    align-items: center;
    color: #333333
}

.home-categories dt img{
   height: 3rem; 
   margin-right: 1rem;
}

.home-categories dd{
    margin: 0 -0.4rem;
}

.home-categories dd .tag{
    background: #f5f8f9;
    color: #7e8793;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 2rem;
    text-decoration: none;
    margin: 0.2rem 0.4rem;
    font-size: 0.8rem
}

.home-footer{
    width: 70%;
    margin: 0 auto;
    font-size: 0.75rem;
}

.home-footer p{
    margin: 0.2rem 0; 
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-header{
    padding:0.8rem 1rem;
}

.list-header img{
    height: 1.2rem;
}

.list-header form{
	width: 100%;
}

.list-header form .inner{
	width: 100%;
	background: #f5f8f9;
	margin: 0 1rem;
	line-height: 1.7rem;
	border-radius: 2rem;
	padding: 0 1rem;
}

.list-header form .inner input{
	width: 80%;
	background: transparent;
	border: none;
	outline: none;
	color: #7e8793;
}

.list-header form button{
	border: none;
	background: none;
	font-size: 0.9rem;
	color: #5bd4c7;
	flex-shrink: 0;
	padding: 0;
}